<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.info {
    width: 50%;
    height: 50;
    margin: 0 auto;
    text-align: center;
}