<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.info {
    width: 50%;
    height: 50;
    margin: 0 auto;
    text-align: center;
}
    </style>
</head>
<body>
    <section class="info">
        <h1>My personal info</h1>
        <img src="{{ my_personal_info.image_url }}" class="profile">
        <p>Name: {{ my_personal_info.name }}</p>
        <p>Course: {{ my_personal_info.course }}</p>
        <p>Year: {{ my_personal_info.year }}</p>
    </section>
</body>
</html>